


.imgCentered{
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}
.bodyBg {
    background-image: url('Images/Crimson-world.jpg');
}
/* Login form configuration */
.loginBlock{
    background-color:white;
    margin-top:10%;
    width:35%;
    min-width:300px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    

}
.loginForm{

    background-color:white;

}

.loginFooter{
    background-color:black;
    color:white;
    height:60px;
     width:35%;
    min-width:300px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    text-align:center;


}
.footertext{
    margin-top:5%;

}
/* register form configuration */
.registerBlock{
    background-color:white;
    margin-top:10%;
    width:45%;
    min-width:300px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    

}
.registerForm{

    background-color:white;

}

.registerFooter{
    background-color:black;
    color:white;
    height:60px;
     width:45%;
    min-width:300px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    text-align:center;


}

/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
    margin-left:3px;
}
    */
/****************************/
/*Base content css */
/****************************/
/*Footer*/
.baseFooter{
    background-color:black;
    color:white;
    height:6%;
    
    min-width:300px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    text-align:center;
}
.baseFootertext{
    margin-top:1%;

}
/*Home Page style*/
.baseMainRow{
    background-color:white;
    height:100%;
    margin-top:-18px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.leftBlock{
   margin-top:1%;

}
.centralBlock{
   margin-top:1%;
}
.hrCentralBlock{
    margin-top:5.25em;

}
.rightBlock{
   margin-top:1%;

}

.userImage{
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    max-height:30em;
}
.userUnderImageMenu{
    width:100%;
    margin-bottom:20px;

}
.baseBtn{
    width:100%;

}
/*user friends*/
.userImgHeight{
  min-height:20em;

    background-color:#efefef;  
}
.userImg{
    min-height:15em;
    vertical-align: middle;
}
/*user messages*/
.messageDes{
    background-color:#e6e6e6;
    min-height:3em;
    font-weight:bold;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
}
.messageRow{
    min-height:2em;
    vertical-align:middle;
    
   
}
.messageRow:hover{
    background-color:#c1bd16;
    min-height:2em;
      border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    text-decoration:none;
}
.urlNoDecoration{
 text-decoration:none;
    color:black;

}

.msgCreateRow{
   margin-bottom:1.5em;

}
div.msgCreateRow input[type="text"]{

min-width:60%;
}

div.msgCreateRow input{

min-width:100%;
}
div.msgCreateRow textarea{

min-width:60%;
min-height:20em;
}


.centerPagintion {
 
}
/*Start page*/
.rowWell{
    width:100%;
    margin:0 auto 0 auto;

}

#collapseAnnouncments{
   

}
.homCenterWell{


}
/* Announcments*/
.announcments{
   margin-bottom:0.2em;
   background-color:#FFFFFF;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;

}
.announcments:hover{
 
   background-color:#232222;
   color:#ffffff;
}
.stateAnounc0{
  background-color:#4aaf48;
 color:#ffffff;

}
.stateAnounc1{
 background-color:#4aaf48;
 color:#ffffff;
}
.stateAnounc2{
  background-color:#0673b2;
 color:#ffffff;
}
.textAlign-Center{
    text-align:center;

}
/*start page newest friends*/
.friendshomeStart{
    min-height:18em;

}
.friendsStartThumb{
text-align:center;
}
.friendsStartThumb:hover{
    background-color:#e6e6e6;
    border-bottom-left-radius:1em;
    border-top-left-radius:1em;
    border-bottom-right-radius:1em;
    border-top-right-radius:1em;
    text-align:center;
}
/**********Profile managment*/
.formMargin{

    margin-bottom:1.5em;

}
/*Profile passw0rd managment*/
div.formMargin input[type="text"]{

min-width:60%;
}

/*gallery*/
.gallleryImgHeight{
 height:15em;
}
.galleryA {
    height:10em;
    display:block;
    
}
.galleryImg{
    height:auto;
    max-height:10em;
    width:auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.galleryBigImage {
max-height:40em;
width:auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.userImageProfileEdit{
 margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    max-height:30em;
}
/*Search all friends*/
.friendsSearch{
    margin-top:1em;
 
}
.searchFormBlock{
    border-top-left-radius:1em 1.5em;
    border-bottom-right-radius:1em 1.5em;
    border-top-right-radius:0.2em;
    border-bottom-left-radius:0.2em;
    background-color:#c1bd16;
    width:98%;
    min-height:12em;
    margin:0 auto 0 auto;

}
.SearchLabel{
    font-size:1.35em;

}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}