﻿@model MVC_WEB_Page.Models.UsersGalleries

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
