@model IEnumerable<MVC_WEB_Page.Models.UsersGalleries>

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
    <script>
        $(document).ready(function () {
            $("#Gallery").addClass("active");
        });
        function deleteImage(ID, name, image) {
            $("#DeleteYes").show();
            $("#imageName").text("Do you want to delete " + name + "?");
            document.getElementById("DeleteYes").onclick = function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("deleteImage", "Gallery")',
                    type: "post",
                    data: {
                        id: ID
                    },
                    success: function (data) {
                        $("#galleryView").html(data);
                        $("#DeleteYes").hide();
                        $("#imageName").text("Image " + name + " deleted!");
                    }
                });
            };
        }
        function showImage(image)
        {

        }
    </script>
</head>
<body>
    <div class="row baseMainRow">
        <div class="col-md-2 rightBlock">
            <button onclick="location.href='/AddGallery'" type="button" class="btn btn-default baseBtn active"><span class="glyphicon glyphicon-plus"></span>Add Image</button>
        </div><!-- third column end-->
        <hr class="hrCentralBlock" />
        <!-- first column end-->
        <div class="col-md-1 rightBlock">
        </div>
        <div class="col-md-10 centralBlock" id="galleryView">
            @Html.Partial("_GalleryView", Model)
        </div><!-- second column end-->
        <div class="col-md-1 leftBlock">
        </div>
        <div class="col-md-12 centralBlock" id="galleryView">
            @Html.Partial("_ImageView", Model)
        </div><!-- second column end-->
    </div>
    <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-danger" id="myModalLabel">Delete</h4>
                </div>
                <div class="modal-body">
                    <img id="imageSrc" />
                    <h3 id="imageName" class="text-danger"></h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary " id="DeleteYes">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editDialog" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-danger" id="myModalLabel">Delete</h4>
                </div>
                <div class="modal-body">
                    <img id="imageSrc" />
                    <h3 id="imageName" class="text-danger"></h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary " id="DeleteYes">Yes</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
