@model IEnumerable<MVC_WEB_Page.Models.ApplicationUser>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@{
    Layout = null;
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
                      <script>
                      $(document).ready(function () {
                      $("#Search").addClass("active");
                      });
                      </script>  
<div class="row baseMainRow">
   
       <div class="col-md-3 leftBlock">
       
               <hr class="hrCentralBlock" />
       
       
   </div><!-- first column end-->
   
       <div class="col-md-7 centralBlock">
               <hr class="hrCentralBlock" />
       
        @using (Html.BeginForm("SearchUsers", "Home", FormMethod.Post, new { id = "form" }))
        {
            @Html.TextBox("person_name")
            <input type="submit" value="Search" class="btn btn-primary" />
        }

        <script type="text/javascript">
            $(function () {
            
                $("#form").on("submit", function (e) {

                    e.preventDefault();

                    $.ajax({
                        url: '@Url.Action("SearchUsers", "Home")',
                        type: "post",
                        data: {
                            SearchName: $("#person_name").val()
                        },
                        success: function (data) {
                                $("#content").html(data);
                        }
                    });
                });
            });
               </script>
       
               <br />
               <div id="content">
                       @Html.Partial("_DisplayUsers", Model)
           
       </div>
               <br />
       
       
   </div><!-- second column end-->
       <div class="col-md-2 rightBlock">
               <hr class="hrCentralBlock" />
       
       
   </div><!-- third column end-->
   
   
</div><!--Row end-->