
@{
    Layout = null;
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="row baseMainRow">

    <div class="col-md-3 leftBlock">
       
        <hr class="hrCentralBlock" />

    </div><!-- first column end-->
    <div class="col-md-7 centralBlock">
        <hr class="hrCentralBlock" />
       friends part
    </div><!-- second column end-->
    <div class="col-md-2 rightBlock">
        <hr class="hrCentralBlock" />
        


    </div><!-- third column end-->

</div><!--Row end-->

