@model IEnumerable<MVC_WEB_Page.Models.ApplicationUser>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@*
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

    <p>Home page template.</p>
*@
<div class="row baseMainRow">
    
    @foreach (var item in Model){
    
    

    <div class="col-md-3 leftBlock">
        @using Microsoft.AspNet.Identity
        <h3> @item.Name @item.Surname </h3>
        <hr />
  

        
        <img src="~/Content/Images/Profiles/@item.Image" class="img-responsive userImage" />
        
        
        <div class="btn-group-vertical userUnderImageMenu">
            <button type="button" class="btn btn-default baseBtn">1</button>
            <button type="button" class="btn btn-default baseBtn">2</button>
            <button type="button" class="btn btn-default baseBtn">3</button>
        </div>
    </div><!-- first column end-->
    <div class="col-md-7 centralBlock">
    <hr class="hrCentralBlock"/>
        <div class="jumbotron">
            <h1>Some info here!</h1>
            <p>Text text text....</p>
        </div>
        <div class="row">
            <div class="col-lg-12"> sssss</div>
            <div class="col-lg-12"> sssss</div>
            <div class="col-lg-12"> sssss</div>
        </div>


        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Collapsible Group Item #1
                        </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Collapsible Group Item #2
                        </a><i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Collapsible Group Item #3
                        </a><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div><!-- second column end-->
    <div class="col-md-2 rightBlock">
        <hr class="hrCentralBlock" />
        some info here


    </div><!-- third column end-->
    }
</div><!--Row end-->
    
<script type="text/javascript">
    function toggleChevron(e) {
        $(e.target)
            .prev('.panel-heading')
            .find("i.indicator")
            .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
    }
    $('#accordion').on('hidden.bs.collapse', toggleChevron);
    $('#accordion').on('shown.bs.collapse', toggleChevron);

</script>